
body, h1, h2, h3, h4, h5, h6, .w3-wide {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.w3-teal {
  background-color:rgb(88, 17, 17) !important;
}

a:link, a:visited { 
 
  padding: 14px 25px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
} 
 

  /* Style for REVIEW button */
  .review-button {
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #4e1b1b; /* Vibrant color */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  /* Hover effect for REVIEW button */
  .review-button:hover {
    background-color: #0e0e0e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .review-button i {
    margin-left: 5px;
  }


  
 /*footer*/ 
 footer{ 
      background-color: rgb(88, 17, 17); 
  } 
  .footerContainer{ 
      width: 100%; 
      
      padding: 70px 30px 20px ; 
  } 
  .socialIcons{ 
      display: flex; 
      justify-content: center; 
  } 
  .socialIcons a{ 
      text-decoration: none; 
      padding:  10px; 
      background-color: rgb(244, 244, 245); 
      margin: 10px; 
      border-radius: 50%; 
  } 
  .socialIcons a i{ 
      font-size: 2em; 
      color: rgb(5, 30, 46); 
      opacity: 0,9; 
  } 
  /* Hover affect on social media icon */ 
  .socialIcons a:hover{ 
      background-color: rgb(148, 108, 108); 
      transition: 0.5s; 
  } 
  .socialIcons a:hover i{ 
      color: white; 
      transition: 0.5s; 
  } 
  .footerNav{ 
      margin: 30px 0; 
  } 
  .footerNav ul{ 
      display: flex; 
      justify-content: center; 
      list-style-type: none; 
  } 
  .footerNav ul li a{ 
      color:rgb(255, 255, 255); 
      margin: 20px; 
      text-decoration: none; 
      font-size: 1.3em; 
      opacity: 0.7; 
      transition: 0.5s; 
   
  } 
  .footerNav ul li a:hover{ 
      opacity: 1; 
  } 
  .footerBottom{ 
      background-color: #151414;
      padding: 20px; 
      text-align: center; 
  } 
  .footerBottom p{ 
      color: white; 
  } 
  .designer{ 
      opacity: 0.7; 
      text-transform: uppercase; 
      letter-spacing: 1px; 
      font-weight: 400; 
      margin: 0px 5px; 
  } 
  @media (max-width: 700px){ 
      .footerNav ul{ 
          flex-direction: column; 
      }  
      .footerNav ul li{ 
          width:100%; 
          text-align: center; 
          margin: 10px; 
      } 
      .socialIcons a{ 
          padding: 8px; 
          margin: 4px; 
      } 
  }
